www.ducolam.com {
  root * /usr/share/caddy
  file_server
  try_files {path} /index.html

  # Tell Caddy to use the Cloudflare Origin Cert instead of ACME
  tls /home/admin/caddy-certs/cert.pem /home/admin/caddy-certs/private-key.pem
}
